version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 3s
      timeout: 2s
      retries: 10

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 2s
      retries: 5

  app:
    image: eclipse-temurin:17-jre-jammy
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file: .env
    ports:
      - "8080:8080"
    volumes:
      - ./adaptix_bot.jar:/app/adaptix_bot.jar:ro          # jar
      - ./app.properties:/app/config/app.properties:ro     # конфиг
    # стартуем с inline-скриптом (без внешних файлов)
    command: ["java", "-XX:+UseContainerSupport", "-Xmx1g", "-cp", "/app/config", "-jar", "/app/adaptix_bot.jar"]

volumes:
  pg_data:
  redis_data: